<div id="contact-form">
  <%= form_for Contact.new do |f| %>
    <%= f.label :name %> <br>
    <%= f.text_field :name, require: true %>

    <br>

    <%= f.label :email %> <br>
    <%= f.email_field :email, require: true %>

    <br>

    <%= f.label :message %> <br>
    <%= f.text_area :message, as: :text %>

    <div class="hidden">
      <%= f.label :nickname %> <br>
      <%= f.text_field :nickname, hint: 'Leave this field blank' %>
    </div>

    <%= f.submit 'Send', class: 'formBtn' %>
  <% end %>
</div>
