<!--============================ Make page clickable ============================-->
<!-- <a> <%#= link_to project1_description_path do %> -->

<!-- =========================== Background photo ================================-->
  <img id="background-art" src="http://i65.tinypic.com/2q3xiye.jpg" alt="Image and video hosting by TinyPic">

<!--============================== Contact info ==================================-->
  <div class="contact-logos">

  <!-- linkedin logo link -->
    <%= link_to (image_tag 'http://i66.tinypic.com/k3p160.jpg'), 'https://www.linkedin.com/in/guido-maximiliano-enrique/', class: 'linkedin-link' %>

<!--==================================== Google logo link ===================================-->
    <!-- <%#= link_to (image_tag 'http://i68.tinypic.com/e0gti.jpg'), '', id: 'google-link', :popup => true %> -->
    <span class="contact-link">
      <%= link_to (image_tag 'http://i68.tinypic.com/e0gti.jpg'), '', id: 'contact-link', :popup => true %>
    <!-- </span> -->
  </span>

<!--===================================== Twitter logo link ===============================-->
    <%= link_to (image_tag 'http://i67.tinypic.com/2v0ok5z.jpg'), 'https://twitter.com/maxstang21', class: 'twitter-link' %>

<!--============================================ GitHub logo link ============================-->
    <%= link_to (image_tag 'http://i67.tinypic.com/rjmj3a.jpg'), 'https://github.com/enriqueguido', class: 'github-link' %>

<!--========================================= Phone logo link ===================================-->
  <!-- <img id="phone-link" src="http://i64.tinypic.com/2h6x00x.jpg" alt="Image and video hosting by TinyPic"> -->
  <!-- <span onclick="phonePopup()"> -->
    <%= link_to (image_tag 'http://i64.tinypic.com/2h6x00x.jpg'), '', class: 'phone-link', :popup => true %>
  <!-- </span> -->

  </div>

<!--============================ Info about me ====================================-->
  <div class="bio">
    I'am Max, a <strong>Full Stack</strong> web developer <br>
    commited to excellence <br> &amp; inspired by challenges.
  </div>

  <div class="space-bar">
  </div>

<!-- Directions to see my work -->
  <div class="directions">
    Click anywhere on the page to see my work.
  </div>


<!--=================================== Profile photo =============================-->

  <a>
    <%= link_to project1_description_path do %>
    <img id="profile-photo" src="http://i63.tinypic.com/syqez8.jpg" alt="Image and video hosting by TinyPic">
    <% end %>
  </a>

  <!-- <%# end %> -->
<!-- </a> -->

<!--=================================== Contact Form =============================-->

<!-- <div id="contact">
</div> -->

<!-- <span onclick="contact()"> -->
<!-- <button> -->
  <!-- <%#= link_to (image_tag 'http://i68.tinypic.com/e0gti.jpg'), '', id: 'contact', :popup => true %> -->
<!-- </button> -->
<!-- </span> -->

<!-- <p> -->
<script>
// $(document).on('turbolinks:load', function() {
//   $('.contact-link').click(function(){
//     $('#contactForm').fadeToggle('slow');
//   });
//   $(document).mouseup(function (e) {
//     var container = $("#contactForm");
//
//     if (!container.is(e.target) // if the target of the click isn't the container...
//       && container.has(e.target).length === 0) // ... nor a descendant of the container
//     {
//       container.fadeOut();
//     }
//   });
// });

</script>

<script>
$(function() {
  // contact form animations
  $('.contact-link').click(function() {
    $('.contact-form').fadeToggle();
  })
  // $(document).mouseup(function (e) {
  //   var container = $(".contact-form");
  //
  //   if (!container.is(e.target) // if the target of the click isn't the container...
  //       && container.has(e.target).length === 0) // ... nor a descendant of the container
  //   {
  //       container.fadeOut();
  //   }
  // });

  });
</script>

<div class="contact-form">
    <div class="container">
        <%= form_tag('https://formspree.io/guido.m.enrique@gmail.com', {:method => :post}) do %>
            <div class="form-group">
                <%= label_tag 'name', 'Name' %>
                <%= text_field_tag 'name', nil, class: 'form-control', placeholder: 'Your Name' %>
            </div>
           <div class="form-group">
               <%= label_tag 'email', 'Email' %>
               <%= email_field_tag 'email', nil, class: 'form-control', placeholder: 'Your Email Address' %>
           </div>
           <div class="form-group">
               <%= label_tag 'comments', 'Comments' %>
               <%= text_area_tag 'comments', nil, class: 'form-control', rows: 4, placeholder: 'Comments...' %>
           </div>
           <%= submit_tag nil, class: 'btn btn-default btn-about pull-right' %>
       <% end %>
  </div>
</div>

<!-- <div id="contact-form">
  <form action="https://formspree.io/guido.m.enrique@gmail.com"
      method="POST">
    <input placeholder="Name" type="text" Name="Name" required />
    <input placeholder="Email" type="email" Name="_replyto" required />
    <input placeholder="Subject" type="text" required />
    <textarea placeholder="Comment"></textarea>
    <input class="formBtn" type="submit" />
    <input class="formBtn" type="reset" />
  </form>
</div> -->
<!-- </p> -->
