
<!-- ======================================= Background Image ===================================================== -->

<div class="project3-background-art3">
  <img id="project3-background-art3" src="http://i68.tinypic.com/20jia20.jpg" alt="Image and video hosting by TinyPic">
</div>

<!-- ======================================= Project Name & Description ===================================================== -->

<div class="project3-name">
    21-Reple
</div>

<div class="project3-description">
  21-Reple was designed as a Blackjack reple game.
  Blackjack is a widely popular casino game also
  known as twenty-one that compares cards
  between a player and the dealer. The game
  was created utilizing ruby as the back-end,
  and was designed to run on the terminal,
  while RSpec was used with behavior
  driven development in mind.
</div>

<!-- ======================================= Left Side Courser ===================================================== -->

<%= link_to root_path do %>
  <div class="right-side-cursor"></div>
<% end %>

<!-- ======================================= Left Side Courser ===================================================== -->

<%= link_to project2_description_path do %>
  <div class="left-side-cursor"></div>
<% end %>

<!-- ======================================= See More/Git Button ===================================================== -->

<a> <%= link_to root_path do %>
  <div class="git-button-prjt3">
    <!-- <strong> -->
      <%= link_to 'See More', 'https://github.com/enriqueguido/black_jack', class: "git-button-link-prjt3" %>
    <!-- </strong> -->
  </div>
<% end %>
</a>

<!-- ======================================= Home Logo Button ===================================================== -->

<div class="logo-link-to-prjt3">
  <%= link_to root_path do %>
  <div class="logo-prjt3">
    <img id="logo-img-prjt3" src="http://i67.tinypic.com/10dcpl0.jpg" alt="Image and video hosting by TinyPic">
  </div>
  <% end %>
</div>

<div class="home">
  Home
</div>
