<%= link_to project1_description_path do %>
  <div class="right-side-cursor-home"></div>
<% end %>

<!--============================ Make page clickable ============================-->
<a class="click">
  <%= link_to project1_description_path do %>

<!-- =========================== Background photo ================================-->

  <a class="click">
    <%= link_to project1_description_path do %>
      <img id="background-art" src="http://i65.tinypic.com/2q3xiye.jpg" alt="Image and video hosting by TinyPic">
    <% end %>
  </a>

<!--============================== Contact info ==================================-->
  <div class="contact-logos">
    <!-- linkedin logo link -->
    <%= link_to (image_tag 'http://i66.tinypic.com/k3p160.jpg'), 'https://www.linkedin.com/in/guido-maximiliano-enrique/', class: 'linkedin-link' %>

<!--==================================== Google logo link ===================================-->
    <%= link_to (image_tag 'http://i68.tinypic.com/e0gti.jpg'), new_contact_path, id: 'contact-link', :popup => true %>
    <!-- <span onclick="contactLink()"> -->
      <%#= link_to (image_tag 'http://i68.tinypic.com/e0gti.jpg'), '', id: 'contact-link', :popup => true %>
    <!-- </span> -->
    <!-- <%= button_tag (image_tag 'http://i68.tinypic.com/e0gti.jpg'), :onclick => '$("#contact-link").click()', id: 'contact-link', remote: true %> -->

      <%#= button_tag (image_tag 'http://i68.tinypic.com/e0gti.jpg'), :onclick => '$("#contact-link").click()', id: 'contact-link', popup: true %>
    <!-- </span> -->

<!--===================================== Twitter logo link ===============================-->
    <%= link_to (image_tag 'http://i67.tinypic.com/2v0ok5z.jpg'), 'https://twitter.com/maxstang21', class: 'twitter-link' %>

<!--============================================ GitHub logo link ============================-->
    <%= link_to (image_tag 'http://i67.tinypic.com/rjmj3a.jpg'), 'https://github.com/enriqueguido', class: 'github-link' %>

<!--========================================= Phone logo link ===================================-->
    <!-- <img id="phone-link" src="http://i64.tinypic.com/2h6x00x.jpg" alt="Image and video hosting by TinyPic"> -->
    <!-- <span onclick="phonePopup()"> -->
    <%= link_to (image_tag 'http://i64.tinypic.com/2h6x00x.jpg'), new_contact_path, class: 'phone-link', :popup => true %>
    <!-- </span> -->
  </div>

<!--============================ Info about me ====================================-->

  <div class="bio">
    I'm Max, a <strong>Full Stack</strong> web developer <br>
    commited to excellence <br> &amp; inspired by challenges.
  </div>

  <div class="space-bar">
  </div>

<!-- Directions to see my work -->
  <div class="directions">
    Click anywhere on the page to see my work.
  </div>

<!--=================================== Profile photo =============================-->

  <a class="click">
    <%= link_to project1_description_path do %>
    <img id="profile-photo" src="http://i63.tinypic.com/syqez8.jpg" alt="Image and video hosting by TinyPic">
    <% end %>
  </a>

  <% end %>
</a>

<!--=================================== Contact Form =============================-->
<!-- <script>
// $(function phoneLink(){
  $("#contact-link").click(function(){
    $('#contact-form').fadeToggle();
  });
// })
  $(document).mouseup(function (e) {
    var container = $("#contactForm");

    if (!container.is(e.target) // if the target of the click isn't the container...
        && container.has(e.target).length === 0) // ... nor a descendant of the container
    {
        container.fadeOut();
    }
  });
</script> -->


<!-- <div id="contact-form">
  <%#= form_for Contact.new do |f| %>
    <%#= f.label :name %> <br>
    <%#= f.text_field :name, require: true %>

    <br>

    <%#= f.label :email %> <br>
    <%#= f.email_field :email, require: true %>

    <br>

    <%#= f.label :message %> <br>
    <%#= f.text_area :message, as: :text %>

    <div class="hidden">
      <%#= f.label :nickname %> <br>
      <%#= f.text_field :nickname, hint: 'Leave this field blank' %>
    </div>

    <%#= f.submit 'Send', class: 'formBtn' %>
  <%# end %>
</div> -->
  <!-- <form action="https://formspree.io/guido.m.enrique@gmail.com"
      method="POST">
    <input placeholder="Name" type="text" Name="Name" required />
    <input placeholder="Email" type="email" Name="_replyto" required />
    <input placeholder="Subject" type="text" required />
    <textarea placeholder="Comment"></textarea>
    <input class="formBtn" type="submit" />
    <input class="formBtn" type="reset" />
  </form>
</div> -->
<!-- </p> -->
