<!-- ======================================= Make Page Clickable ===================================================== -->

<a> <%= link_to root_path do %>

<!-- ======================================= Background Image ===================================================== -->

  <div class="project3-background-art">
    <img id="project1-background-art" src="http://i350.photobucket.com/albums/q404/enriqueguido/project3_background_zpsy7j0lgdx.png" alt="Image and video hosting by TinyPic">
  </div>

<!-- ======================================= Project Name & Description ===================================================== -->

  <a> <%= link_to root_path do %>
    <div class="project3-name">
        21-Reple
    </div>

    <div class="project3-description">
      21-Reple was design as a Blackjack reple game.
      Blackjack is widely popular casino game also
      known as twenty-one that compares cards
      between a player and the dealer. The game
      was created utilizing ruby as the back-end,
      and was design to run on the terminal,
      while RSpec was used with behaviour
      driven development in mind.
    </div>
  <% end %>
  </a>

<!-- ======================================= See More/Git Button ===================================================== -->

  <a> <%= link_to root_path do %>
    <div class="git-button-prjt3">
      <!-- <strong> -->
        <%= link_to 'See More', 'https://github.com/enriqueguido/black_jack', class: "git-button-link-prjt3" %>
      <!-- </strong> -->
    </div>
  <% end %>
  </a>

<!-- ======================================= Home Logo Button ===================================================== -->

  <div class="logo-link-to-prjt3">
    <%= link_to root_path do %>
    <div class="logo-prjt3">
      <img id="logo-img-prjt3" src="http://i67.tinypic.com/10dcpl0.jpg" alt="Image and video hosting by TinyPic">
    </div>
    <% end %>
  </div>

<% end %>
</a>
